{% trans_default_domain 'EsCoreBundle' %}
{% extends ('@EsCore/layout.html.twig') %}

{% block body %}
	<div class="login-box">
		{{ block("login_logo")}}
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">

				<p class="login-box-msg">{{'describe_change_password'|trans}}</p>
				{% if must_change == 1 %}
					<div class="callout callout-danger">
						<p>{{ 'must_change_password'|trans}}</p>
					</div>
				{% endif %}
				{{ form_start(form, { 'action': path('es_core_change_password', {'mustChange':must_change}) }) }}
				<div class="row">
					<div class="col-12">

						{{ form_label(form.currentPassword)}}
						{{ form_widget(form.currentPassword, {'attr': {'class': 'form-control mb-3'}})}}
						<div class="error text-danger">{{ form_errors(form.currentPassword)}}</div>
						{{ form_label(form.plainPassword.first)}}
						{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control mb-3'}})}}

						{{ form_label(form.plainPassword.second)}}
						{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control mb-3'}})}}
						<div class="error text-danger">{{ form_errors(form.plainPassword.first)}}</div>
						<div class="error text-danger">{{ form_errors(form.plainPassword.second)}}</div>
						{{ form_widget(form)}}
						<div class="error text-danger">{{ form_errors(form)}}</div>

					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block">{{'change_password'|trans}}</button>
					</div>
					{{ form_end(form) }}
					<div class="row mb-1 mt-2 align-items-start">
						<div class="col-8">
							<a href="{{path('home')}}">{{'return'|trans}}</a>
						</div>
						<div class="col-4 justify-content-end">
							{{ block("mini_logo")}}
						</div>
					</div>
				</div>


			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
{% endblock %}
