{% trans_default_domain 'EsCoreBundle' %} 
{% extends ('@EsCore/layout.html.twig') %}


{% block body %}

<div class="login-box">
  <div class="login-logo">
    <b>Es</b>Core
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <form method="post">
        <div class="input-group mb-3">
          <input placeholder="{{ 'username'|trans}}" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input placeholder="{{ 'password'|trans }}" type="password" name="password" id="inputPassword" class="form-control" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" name="_remember_me" id="remember">
              <label for="remember">
                {{'remember_me'|trans}}
              </label>
            </div>
          </div>
        </div>
        {% if error %}
          <div class="error text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row justify-content-end">
          <div class="col-6 ">
              <button type="submit" class="btn btn-primary btn-block">{{"sign_in"|trans}}</button>
          </div>
        </div>
          <!-- /.col -->
        
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{{path('es_core_resetting_request')}}">{{'forget_password'|trans}}</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}
